<launch>
    <rosparam param="/coencoder/subscribe_topics">['/Node_1_image', '/Node_2_image']</rosparam>
    <rosparam param="/coencoder/video_resolutions">['1920*1080', '1920*1080']</rosparam>

    <node name="coencoder" pkg="coencoder" type="coencoder" output="screen">
        <param name="output_fps"    value="20"/>
        <param name="bitrate"       value="400000"/>
    </node>
</launch>


