<launch>
    <rosparam param="/coencoder/subscribe_topics">['/camera_1']</rosparam>
    <rosparam param="/coencoder/video_resolutions">['1600*900']</rosparam>

    <node name="coencoder" pkg="coencoder" type="coencoder" output="screen">
        <param name="output_fps"    value="20"/>
        <param name="bitrate"       value="400000"/>
    </node>
</launch>


